In [1]:
import pandas as pd

pd.read_csv("../crypto_data/btc-usd-max.csv")

                   snapped_at        price    market_cap  total_volume
0     2013-04-28 00:00:00 UTC    135.30000  1.500518e+09  0.000000e+00
1     2013-04-29 00:00:00 UTC    141.96000  1.575032e+09  0.000000e+00
2     2013-04-30 00:00:00 UTC    135.30000  1.501657e+09  0.000000e+00
3     2013-05-01 00:00:00 UTC    117.00000  1.298952e+09  0.000000e+00
4     2013-05-02 00:00:00 UTC    103.43000  1.148668e+09  0.000000e+00
...                       ...          ...           ...           ...
4064  2024-06-15 00:00:00 UTC  66011.07874  1.301950e+12  2.796699e+10
4065  2024-06-16 00:00:00 UTC  66190.48749  1.304370e+12  1.347273e+10
4066  2024-06-17 00:00:00 UTC  66615.53782  1.313850e+12  1.265013e+10
4067  2024-06-18 00:00:00 UTC  66460.38898  1.309330e+12  2.940973e+10
4068  2024-06-19 00:00:00 UTC  65109.31481  1.282300e+12  4.138697e+10

[4069 rows x 4 columns]