In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import streamlit as st

In [2]:
# load the historical  price data
df = pd.read_csv("crypto_data/btc-usd-max.csv")
df.head()

                snapped_at   price    market_cap  total_volume
0  2013-04-28 00:00:00 UTC  135.30  1.500518e+09           0.0
1  2013-04-29 00:00:00 UTC  141.96  1.575032e+09           0.0
2  2013-04-30 00:00:00 UTC  135.30  1.501657e+09           0.0
3  2013-05-01 00:00:00 UTC  117.00  1.298952e+09           0.0
4  2013-05-02 00:00:00 UTC  103.43  1.148668e+09           0.0

In [3]:
df.describe()

              price    market_cap  total_volume
count   4069.000000  4.068000e+03  4.069000e+03
mean   14705.538261  2.771422e+11  1.486613e+10
std    18237.986063  3.517378e+11  1.836882e+10
min       67.809000  7.713681e+08  0.000000e+00
25%      594.683300  8.092226e+09  2.398531e+08
50%     7195.153895  1.264250e+11  5.243194e+09
75%    23822.067600  4.569108e+11  2.482630e+10
max    73097.767030  1.436630e+12  1.788940e+11

In [4]:
# convert the snapped_at to datetime. (this is to make it into a time based object)
df['snapped_at'] = pd.to_datetime(df['snapped_at'])

print(df['snapped_at'].head(10))

0   2013-04-28 00:00:00+00:00
1   2013-04-29 00:00:00+00:00
2   2013-04-30 00:00:00+00:00
3   2013-05-01 00:00:00+00:00
4   2013-05-02 00:00:00+00:00
5   2013-05-03 00:00:00+00:00
6   2013-05-04 00:00:00+00:00
7   2013-05-05 00:00:00+00:00
8   2013-05-06 00:00:00+00:00
9   2013-05-07 00:00:00+00:00
Name: snapped_at, dtype: datetime64[ns, UTC]

In [ ]:
# function to calculate investment value
def calculate_investment_value(start_date, end_date, initial_investment):
    start_price =